@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;600&display=swap');

body {
    background-color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: xx-large;
}

.todo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.card {
    width: 18rem;
    height: 20rem;
    padding: 1rem;
    margin: 0.5rem;
}

.add-todo-container {
    width: 50rem;
}

.navbar-nav {
    gap: 1rem;
}

.btn-deleted, .btn-completed {
    margin: 5px;
}
