@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;600&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../public/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    
}

.container-brand{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    color: #FA7268;
}

.todo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.card {
    width: 18rem;
    height: 15rem;
    padding: 1rem;
    margin: 0.5rem;
    background-color: rgb(240, 248, 255, 0.2);
    border: 1px solid #C62368;
    color: white;
}

.card:hover {
    background-color: #FA7268;
    border: 1px solid white;
}

.card-title {
    margin-bottom: 0;
}


.date-card{
    font-size: 0.7rem;
    margin-top: 0;
}

.add-todo-container {
    width: 50rem;
}

.navbar-nav {
    gap: 1rem;
}

.btn-deleted, .btn-completed {
    margin: 5px;
}
